.DS_Store
.idea/
.vscode/
*.iml
.env
node_modules/
dist/
.build/
.next/
coverage/
target/
.venv/
__pycache__/
*.pyc

.turbo/*
apps/api/.turbo
apps/web/.turbo

# Personal cheatsheet
docs/tech-stack-cheatsheet.md

